.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact_form {
  background-color: var(
    --color-bg-variant
  ); /* Set background color for the form */
  padding: 2rem; /* Add padding to the form */
  border-radius: 1.2rem; /* Add rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* ================ FORM ================= */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem; /* Rounded corners */
  background: var(--color-white); /* Background color for input and textarea */
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: black; /* Text color */
  font-size: 1rem; /* Increased font size for readability */
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Add hover styles for input and textarea */
input:hover,
textarea:hover {
  border-color: var(--color-primary);
  transition: 3s smooth;
  background-color: var(--color-light);
  cursor: pointer; /* Indicate user can interact */
}

/* Add focus styles for input and textarea */
input:focus,
textarea:focus {
  border-color: var(--color-primary); /* Highlight border on focus */
  outline: none; /* Remove default outline */
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  .contact__container {
    width: var(--container-width-sm);
  }
}
