/* Container and layout */
.header__container {
  padding-left: 5rem;
  margin-top: 5rem;
  text-align: left;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between; /* Align description left and profile right */
  align-items: center;
}

/* Text styling */
.intro-text {
  font-size: 4rem;
  font-weight: bold;
  color: #f9f9f9; /* Light text color */
}

.role-title {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-primary);
}

.description {
  font-size: 1.2rem;
  color: #e0e0e0; /* Lighter white color */
  margin-top: 2.5rem;
  max-width: 500px;
}

/* Blinking effect for name link */
.name-link {
  color: var(--color-primary);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  animation: blink 0.9s infinite;
}

.arrow {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  transition: transform 0.3s;
  animation: blink 0.9s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

/* Hover effect */
.name-link:hover {
  color: #ffc107;
  animation: none;
}

.name-link:hover .arrow {
  transform: translateX(5px);
}

/* Profile picture styling */
.profile-pic-container {
  position: relative;
  margin-right: 2rem;
}

.profile-pic {
  width: 350px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* CTA styling */
.cta {
  margin-top: 3rem;
  gap: 2.5rem;
  display: flex;
}

/* Responsive design */
@media screen and (max-width: 1024px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0; /* Remove left padding for smaller screens */
  }

  .intro-text {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }

  .role-title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .description {
    font-size: 1rem; /* Adjust font size for smaller screens */
    max-width: 100%; /* Full width for smaller screens */
  }

  .profile-pic {
    width: 250px; /* Adjust profile picture size */
  }
}

@media screen and (max-width: 600px) {
  .header__container {
    height: auto;
    padding: 1rem; /* Add padding for mobile */
  }

  .header__socials {
    display: none; /* Hide social icons for mobile */
  }

  .intro-text {
    font-size: 2.5rem; /* Further reduce font size */
  }

  .role-title {
    font-size: 1.5rem; /* Adjust role title size */
  }

  .description {
    font-size: 0.9rem; /* Adjust description size */
    margin-top: 1.5rem; /* Reduce top margin */
  }
  .cta {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons */
  }
}
