.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #052d23;
  color: white;
  padding: 8rem 2rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  gap: 5rem;
}

.header__text {
  flex: 1;
  max-width: 50%;
}

.header__text h1 {
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
}

.header__text .highlight {
  color: var(--color-primary);
}

.header__text p {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  color: #cfcfcf;
}

.header__images {
  display: flex;
  gap: 3rem;
  flex: 1;
  justify-content: center;
}

.circle-img {
  width: 18rem;
  height: 16rem;
  border-radius: 20%;
  background-size: cover;
  background-position: center;
}

.img1 {
  background-image: url("../../assets/react.png");
}
.img2 {
  background-image: url("../../assets/vue.png");
}
/* .img3 {
  background-image: url("../../assets/.jpg");
} */

@media screen and (max-width: 768px) {
  .header__content {
    flex-direction: column;
    text-align: center;
  }

  .header__text {
    max-width: 100%;
  }

  .header__images {
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
