nav {
  width: 100%;
  padding: 1.5rem;
  z-index: 100; /* Ensures it stays above other elements */
  display: flex;
  justify-content: right; /* Centering the nav menu */
  align-items: center;
  position: fixed; /* Make the navbar sticky */
  top: 0;
  left: 0;
  background: #ffffff; /* Ensures visibility */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 45, 35); /* Slight transparency */
  z-index: -1;
}
.navbar-brand {
  margin-left: 2rem;
  left: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem; /* Slightly smaller */
  font-weight: bolder;
  color: rgba(219, 255, 157);
  position: absolute;
}

.navbar-links {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.5rem;
  font-weight: normal;
  color: #2b3732;
  text-transform: uppercase;
}

.navbar-links a {
  color: var(--color-light);
  font-size: 0.9rem; /* Reduced font size */
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
  position: relative;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--color-primary);
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar-links a.active {
  color: var(--color-primary);
}

.navbar-links a.active::after {
  transform: scaleX(1);
}

.navbar-links a:hover {
  color: white;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
}

/* Hamburger Menu Adjustments */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  z-index: 3;
  position: absolute;
  right: 2rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
  }

  .navbar-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }
}
