nav {
  width: 100%;
  padding: 1rem 2rem;
  z-index: 2;
  position: static; /* Change from fixed to static */
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

nav a {
  color: var(--color-light);
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 2rem;
  position: relative;
  transition: color 0.3s;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--color-primary);
  transform: scaleX(0);
  transition: transform 0.3s;
}

nav a:hover {
  color: white;
}

nav a:hover::after {
  transform: scaleX(1);
}

nav a.active {
  color: var(--color-primary);
}
.go-to-top-button {
  z-index: 10;
  position: fixed;
  bottom: 4rem; /* Position from the bottom */
  right: 2rem; /* Position from the right */
  background-color: #ff5722; /* Use your primary color */
  padding: 30px;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.go-to-top-button:hover {
  background-color: var(--color-primary);
}
